absl-py==0.8.1
apparmor==2.13.3
appdirs==1.4.3
application-utility==1.2.1
astor==0.8.0
backcall==0.1.0
bauh==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.5
cachetools==3.1.1
catfish==1.4.10
chardet==3.0.4
colorama==0.4.1
cupshelpers==1.0
decorator==4.4.0
distlib==0.2.9
distro==1.4.0
docopt==0.6.2
docutils==0.14
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gufw==19.10.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
ipython==7.9.0
ipython-genutils==0.1.0
jedi==0.15.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyutils==0.6
lensfun==0.3.2
LibAppArmor==2.13.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.11.0
Markdown==3.1.1
menulibre==2.2.1
more-itertools==7.2.0
msgpack==0.6.2
mugshot==0.4.1
nltk==3.4.5
npyscreen==4.10.5
numpy==1.17.4
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==19.2
pacman-mirrors==4.15
parso==0.5.1
pdftotext==2.1.2
pep517==0.6.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
progress==1.5
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.6.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.18.2
pycups==1.9.74
pycurl==7.43.0.3
Pygments==2.4.2
PyGObject==3.34.0
pyinotify==0.9.6
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==4.19.19
python-distutils-extra==2.39
python-pam==1.8.4
python-xapp==1.6.0
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.1.2
reportlab==3.5.32
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
setproctitle==1.1.10
six==1.12.0
team==1.0
tensorboard==1.14.0
tensorflow==2.6.4
tensorflow-estimator==1.14.0
termcolor==1.1.0
tinycss==0.4
traitlets==4.3.3
udiskie==1.7.7
ufw==0.36
urllib3==1.25.6
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
